.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

table,th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  

}
li,ul{
  margin-left: auto;
  margin-right: auto;
}